@import url(./_type/_job/popup__input_type_job.css);
@import url(./_type/_name/popup__input_type_name.css);
@import url(./_type/_card-name/popup__input_type_card-name.css);
@import url(./_type/_card-link/popup__input_type_card-link.css);
.popup__input {
    border: 0;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.2;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #bcbcc4;
}
@media screen and (max-width: 460px) {
    .popup__input {
        max-width: 300px;
    }
}
@media screen and (max-width: 410px) {
    .popup__input {
        max-width: 250px;
    }
}
@media screen and (max-width: 360px) {
    .popup__input {
        max-width: 220px;
        font-size: 0.775rem;
        line-height: 1.1;
    }
}