@import url(./__close-button/popup-image__close-button.css);
@import url(./__photo/popup-image__photo.css);
@import url(./__container/popup-image__container.css);
@import url(./__description/popup-image__description.css);
.popup-image {
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s linear;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
}