@import url(./_link/popup-add__input_link.css);
@import url(./_name/popup-add__input_name.css);
.popup-add__input {
    border: 0;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.2;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #bcbcc4;
}
@media screen and (max-width: 460px) {
    .popup-add__input {
        max-width: 300px;
    }
}
@media screen and (max-width: 410px) {
    .popup-add__input {
        max-width: 250px;
    }
}
@media screen and (max-width: 360px) {
    .popup-add__input {
        max-width: 220px;
        font-size: 0.775rem;
        line-height: 1.1;
    }
}